# See https://www.dartlang.org/tools/private-files.html

.DS_Store
Thumbs.db

# Files and directories created by pub
.packages
.pub/
.dart_tool/
build/
# This is like an application, better check-in the pubspec.lock
# pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

.atom
.idea
*.iml
.vscode
